*{
    outline:0;
}
body{
    font-family: "Arial";
    line-height: 25px;
    font-weight: 400;
    color:#fff;
}
.header, .footer{
    background-color: #0074E8;
    height:40px;
    color:#FF6161;
}
.header h2, .footer h2{
    padding:10px;
    text-align: center;
}
.main_container{
    width:1000px;
    margin:2px auto;
    background-color: green;
}
.content{
    background-color: #202340;
    margin:10px 4px 10px 4px;
    min-height: 450px;
}
.p_content{
    padding: 25px 15px 10px 25px;
}